In [1]:
# Read data
from datasets import load_dataset
import pandas as pd
df = pd.read_csv('/home/moorche10/Desktop/project/divar_real_estate_ads.csv')

/tmp/ipykernel_6027/312187874.py:4: DtypeWarning: Columns (10,26,28,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/moorche10/Desktop/project/divar_real_estate_ads.csv')

In [2]:
# Rows , Colunms
df.shape

(1000000, 60)

In [27]:
# Top 5 rows
df.head()

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,rent_value,...,property_type,regular_person_capacity,extra_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
0,temporary-rent,villa,karaj,mehrshahr,2024-08-01 00:00:00,مشاور املاک,۵۰۰متر\n۲۰۰متر بنا دوبلکس\n۳خواب\nاستخر آبگرم ...,باغ ویلا اجاره روزانه استخر داخل لشکرآباد سهیلیه,NaN,NaN,...,NaN,4.0,6,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600,500.0
1,residential-sell,apartment-sell,tehran,gholhak,2024-05-01 00:00:00,مشاور املاک,دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...,۶۰ متر قلهک فول امکانات,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0
2,residential-rent,apartment-rent,tehran,tohid,2024-10-01 00:00:00,NaN,تخلیه پایان ماه,آپارتمان ۳ خوابه ۱۳۲ متر,مقطوع,26000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459,NaN
3,commercial-rent,office-rent,tehran,elahiyeh,2024-06-01 00:00:00,NaN,فرشته تاپ لوکیشن\n۹۰ متر موقعیت اداری\nیک اتاق...,فرشته ۹۰ متر دفتر کار مدرن موقعیت اداری,مقطوع,95000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,residential-sell,apartment-sell,mashhad,emamreza,2024-05-01 00:00:00,مشاور املاک,هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...,۱۱۵ متری/شمالی رو به آفتاب/اکبری,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Middle 5 rows
df.iloc[499998:500003]

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,rent_value,...,property_type,regular_person_capacity,extra_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
499998,residential-sell,plot-old,bandar-anzali,NaN,2024-08-01 00:00:00,مشاور املاک,✔️ مشاورین املاک گیل شا ✔️\n⚜️مجموعه گیل شا آم...,زمین ۲۵۰ متری به همراه ویلا در محدوده پاسداران,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.479202,49.431572,500.0
499999,residential-sell,apartment-sell,mashhad,azadshahr,2024-08-01 00:00:00,مشاور املاک,سلام عرض ادب و‌احترام\n\n\n*واحد جذاب و‌خوش‌نق...,امامت,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500000,residential-sell,apartment-sell,tehran,niavaran,2024-06-01 00:00:00,مشاور املاک,نیاوران\n\n۱۸۵ متر\nلابی مجلل با ابنما و چشم ا...,نیاوران ۱۸۵ متر مدرن با سوییت مجزا,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0
500001,residential-rent,apartment-rent,tehran,pirouzi,2024-08-01 00:00:00,مشاور املاک,ط ٤ تکواحدی خیلی شیک و خوش نقشه،گاز رومیزی کمد...,آپارتمان٥٧متر خ محصل,مجانی,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500002,residential-rent,apartment-rent,karaj,marlik,2024-05-01 00:00:00,NaN,یک واحد اپارتمان دوطبقه اول روی همکف سک خوابه ...,اپارتمان ۵۵متر یک خوابه,مقطوع,4000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.687786,50.973980,NaN

In [25]:
# Last 5 rows
df.tail()

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,rent_value,...,property_type,regular_person_capacity,extra_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
999995,residential-sell,apartment-sell,kermanshah,NaN,2024-07-01 00:00:00,مشاور املاک,~~~مشاورین املاک قبادی~~~\n■جنوبی تک واحدی\n■د...,آپارتمان ۱۸۰ متری وحدت غربی,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241,500.0
999996,residential-rent,apartment-rent,tehran,darya,2024-07-01 00:00:00,مشاور املاک,نوساز \n\n تک واحدی\n\nشخصی ساز\n\nروف گا...,آپارتمان ۱۱۰ متری سعادت آباد دریا,مقطوع,45000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099,500.0
999997,residential-sell,house-villa-sell,yazd,NaN,2024-11-01 00:00:00,NaN,سلام ودرود\nفروش منزل مسکونی واقع در خیابان ان...,منزل فروشی. خیابان انقلاب نرسیده به کارخانه...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,temporary-rent,suite-apartment,bandar-anzali,NaN,2024-09-01 00:00:00,NaN,سویت بدون خواب (روبه دریا و معمولی)\nسویت ۱خوا...,مجتمع ویلایی کنار ساحل پاسداران,NaN,NaN,...,NaN,5.0,5.0,NaN,3000000.0,NaN,NaN,37.483501,49.438721,NaN
999999,residential-rent,apartment-rent,tehran,jeyhoun,2024-08-01 00:00:00,مشاور املاک,⚜️املاک بزرگ میلیارد⚜️\n✅️۴۰ متر یک خواب\n✅️نو...,۴۰ متر/ یک خواب /فول بازسازی,مجانی,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.680767,51.365299,500.0

In [18]:
# Data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 60 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   cat2_slug                   1000000 non-null  object
 1   cat3_slug                   999999 non-null   object
 2   city_slug                   999998 non-null   object
 3   neighborhood_slug           437139 non-null   object
 4   created_at_month            1000000 non-null  object
 5   user_type                   288882 non-null   object
 6   description                 1000000 non-null  object
 7   title                       999946 non-null   object
 8   rent_mode                   352994 non-null   object
 9   rent_value                  351322 non-null   float64
 10  rent_to_single              19 non-null       object
 11  rent_type                   103961 non-null   object
 12  price_mode                  573606 non-null   object
 13  price_value                 568346 non-null   float64
 14  credit_mode                 352994 non-null   object
 15  credit_value                352095 non-null   float64
 16  rent_credit_transform       352985 non-null   object
 17  transformable_price         352894 non-null   object
 18  transformable_credit        352085 non-null   float64
 19  transformed_credit          72409 non-null    float64
 20  transformable_rent          351248 non-null   float64
 21  transformed_rent            72409 non-null    float64
 22  land_size                   186396 non-null   float64
 23  building_size               980394 non-null   float64
 24  deed_type                   253458 non-null   object
 25  has_business_deed           34679 non-null    object
 26  floor                       541748 non-null   object
 27  rooms_count                 845899 non-null   object
 28  total_floors_count          304352 non-null   object
 29  unit_per_floor              302283 non-null   object
 30  has_balcony                 506411 non-null   object
 31  has_elevator                541749 non-null   object
 32  has_warehouse               728155 non-null   object
 33  has_parking                 728156 non-null   object
 34  construction_year           815828 non-null   object
 35  is_rebuilt                  529470 non-null   object
 36  has_water                   33444 non-null    object
 37  has_warm_water_provider     379500 non-null   object
 38  has_electricity             33445 non-null    object
 39  has_gas                     33430 non-null    object
 40  has_heating_system          368969 non-null   object
 41  has_cooling_system          350619 non-null   object
 42  has_restroom                406913 non-null   object
 43  has_security_guard          31312 non-null    object
 44  has_barbecue                31198 non-null    object
 45  building_direction          323923 non-null   object
 46  has_pool                    29390 non-null    object
 47  has_jacuzzi                 28728 non-null    object
 48  has_sauna                   28479 non-null    object
 49  floor_material              405984 non-null   object
 50  property_type               27057 non-null    object
 51  regular_person_capacity     29870 non-null    float64
 52  extra_person_capacity       24009 non-null    object
 53  cost_per_extra_person       10241 non-null    float64
 54  rent_price_on_regular_days  18068 non-null    float64
 55  rent_price_on_special_days  10463 non-null    float64
 56  rent_price_at_weekends      13551 non-null    float64
 57  location_latitude           655608 non-null   float64
 58  location_longitude          655608 non-null   float64
 59  location_radius             339699 non-null   float64
dtypes: float64(17), object(43)
memory usage: 457.8+ MB

In [30]:
# Numerical info
df.describe()

,rent_value,price_value,credit_value,transformable_credit,transformed_credit,transformable_rent,transformed_rent,land_size,building_size,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
count,3.513220e+05,5.683460e+05,3.520950e+05,3.520850e+05,7.240900e+04,3.512480e+05,7.240900e+04,1.863960e+05,9.803940e+05,29870.000000,1.024100e+04,1.806800e+04,1.046300e+04,1.355100e+04,655608.000000,655608.000000,339699.000000
mean,4.102299e+10,1.736537e+10,4.872084e+10,4.872222e+10,8.557025e+09,4.103164e+10,1.619934e+07,4.165480e+03,4.440648e+03,6.557650,1.209785e+10,1.389016e+11,2.355548e+10,3.156551e+10,34.982108,51.629743,465.149147
std,3.807534e+12,5.878739e+11,4.341346e+12,4.341407e+12,2.064576e+12,3.807935e+12,5.217890e+07,1.218927e+05,1.367118e+05,7.698655,1.103482e+12,7.042335e+12,1.542049e+12,2.434942e+12,2.379169,3.160920,125.896250
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,23.626478,40.162369,0.000000
25%,1.111110e+05,1.400000e+09,1.000000e+08,1.000000e+08,2.000000e+08,1.111110e+05,1.000000e+06,1.100000e+02,7.500000e+01,3.000000,5.000000e+04,4.000000e+05,6.000000e+05,5.500000e+05,34.553551,50.677175,500.000000
50%,5.000000e+06,2.840000e+09,2.500000e+08,2.500000e+08,4.000000e+08,5.000000e+06,6.000000e+06,1.950000e+02,1.030000e+02,4.000000,1.000000e+05,8.000000e+05,1.200000e+06,1.100000e+06,35.723312,51.345791,500.000000
75%,1.200000e+07,5.900000e+09,5.000000e+08,5.000000e+08,8.500000e+08,1.200000e+07,1.500000e+07,2.800000e+02,1.650000e+02,7.000000,2.000000e+05,1.600000e+06,2.500000e+06,2.500000e+06,36.307013,51.805291,500.000000
max,1.000000e+15,1.000000e+14,1.000000e+15,1.000000e+15,5.555556e+14,1.000000e+15,3.000000e+09,1.000000e+07,1.000000e+07,50.000000,1.111111e+14,5.006007e+14,1.111111e+14,2.002503e+14,40.358055,74.511620,500.000000

In [19]:
# Is NaN
df.isnull()

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,rent_value,...,property_type,regular_person_capacity,extra_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
0,False,False,False,False,False,False,False,False,True,True,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,False
2,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,True,True,False,False,True
3,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,False,False,False,True,False,False,False,False,True,True,...,True,True,True,True,True,True,True,False,False,False
999996,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
999997,False,False,False,True,False,True,False,False,True,True,...,True,True,True,True,True,True,True,True,True,True
999998,False,False,False,True,False,True,False,False,True,True,...,True,False,False,True,False,True,True,False,False,True
999999,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False

In [37]:
# Number of NaNs in columns
df.isnull().sum()

cat2_slug                          0
cat3_slug                          1
city_slug                          2
neighborhood_slug             562861
created_at_month                   0
user_type                     711118
description                        0
title                             54
rent_mode                     647006
rent_value                    648678
rent_to_single                999981
rent_type                     896039
price_mode                    426394
price_value                   431654
credit_mode                   647006
credit_value                  647905
rent_credit_transform         647015
transformable_price           647106
transformable_credit          647915
transformed_credit            927591
transformable_rent            648752
transformed_rent              927591
land_size                     813604
building_size                  19606
deed_type                     746542
has_business_deed             965321
floor                         458252
rooms_count                   154101
total_floors_count            695648
unit_per_floor                697717
has_balcony                   493589
has_elevator                  458251
has_warehouse                 271845
has_parking                   271844
construction_year             184172
is_rebuilt                    470530
has_water                     966556
has_warm_water_provider       620500
has_electricity               966555
has_gas                       966570
has_heating_system            631031
has_cooling_system            649381
has_restroom                  593087
has_security_guard            968688
has_barbecue                  968802
building_direction            676077
has_pool                      970610
has_jacuzzi                   971272
has_sauna                     971521
floor_material                594016
property_type                 972943
regular_person_capacity       970130
extra_person_capacity         975991
cost_per_extra_person         989759
rent_price_on_regular_days    981932
rent_price_on_special_days    989537
rent_price_at_weekends        986449
location_latitude             344392
location_longitude            344392
location_radius               660301
dtype: int64

In [5]:
# Number of NaNs in rows
df.isnull().sum(axis=1)

0         41
1         42
2         35
3         38
4         34
          ..
999995    41
999996    31
999997    45
999998    47
999999    22
Length: 1000000, dtype: int64

In [24]:
# Data Frame with out NaN Colunms
dfnc = df.drop(["created_at_month","rent_to_single","rent_type","transformed_credit","transformed_rent","has_security_guard",
                "property_type","regular_person_capacity","has_business_deed","extra_person_capacity","cost_per_extra_person",
                "rent_price_on_regular_days","rent_price_on_special_days","rent_price_at_weekends","location_radius"],axis=1)

In [24]:
# Data Frame with out NaN Colunms
dfnc = df.drop([],axis=0)

In [4]:
# Duplicated rows
dfnc.duplicated(keep=('first'))

0         False
1         False
2         False
3         False
4         False
          ...
999995    False
999996    False
999997    False
999998    False
999999    False
Length: 1000000, dtype: bool

In [27]:
# Delete duplicated rows
dfnc.drop_duplicates(inplace=True,keep='first')

In [28]:
# Reset indexes
dfnc.reset_index(inplace=True , drop=True)
dfnc

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,user_type,description,title,rent_mode,rent_value,price_mode,...,has_cooling_system,has_restroom,has_barbecue,building_direction,has_pool,has_jacuzzi,has_sauna,floor_material,location_latitude,location_longitude
0,temporary-rent,villa,karaj,mehrshahr,مشاور املاک,۵۰۰متر\n۲۰۰متر بنا دوبلکس\n۳خواب\nاستخر آبگرم ...,باغ ویلا اجاره روزانه استخر داخل لشکرآباد سهیلیه,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.811684,50.936600
1,residential-sell,apartment-sell,tehran,gholhak,مشاور املاک,دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...,۶۰ متر قلهک فول امکانات,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,residential-rent,apartment-rent,tehran,tohid,NaN,تخلیه پایان ماه,آپارتمان ۳ خوابه ۱۳۲ متر,مقطوع,26000000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459
3,commercial-rent,office-rent,tehran,elahiyeh,NaN,فرشته تاپ لوکیشن\n۹۰ متر موقعیت اداری\nیک اتاق...,فرشته ۹۰ متر دفتر کار مدرن موقعیت اداری,مقطوع,95000000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,residential-sell,apartment-sell,mashhad,emamreza,مشاور املاک,هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...,۱۱۵ متری/شمالی رو به آفتاب/اکبری,NaN,NaN,مقطوع,...,air_conditioner,squat_seat,NaN,north,NaN,NaN,NaN,ceramic,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998523,residential-sell,apartment-sell,kermanshah,NaN,مشاور املاک,~~~مشاورین املاک قبادی~~~\n■جنوبی تک واحدی\n■د...,آپارتمان ۱۸۰ متری وحدت غربی,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241
998524,residential-rent,apartment-rent,tehran,darya,مشاور املاک,نوساز \n\n تک واحدی\n\nشخصی ساز\n\nروف گا...,آپارتمان ۱۱۰ متری سعادت آباد دریا,مقطوع,45000000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099
998525,residential-sell,house-villa-sell,yazd,NaN,NaN,سلام ودرود\nفروش منزل مسکونی واقع در خیابان ان...,منزل فروشی. خیابان انقلاب نرسیده به کارخانه...,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998526,temporary-rent,suite-apartment,bandar-anzali,NaN,NaN,سویت بدون خواب (روبه دریا و معمولی)\nسویت ۱خوا...,مجتمع ویلایی کنار ساحل پاسداران,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.483501,49.438721
998527,residential-rent,apartment-rent,tehran,jeyhoun,مشاور املاک,⚜️املاک بزرگ میلیارد⚜️\n✅️۴۰ متر یک خواب\n✅️نو...,۴۰ متر/ یک خواب /فول بازسازی,مجانی,0.0,NaN,...,water_cooler,squat,NaN,NaN,NaN,NaN,NaN,ceramic,35.680767,51.365299

In [29]:
# Shape of new data frame
dfnc.shape

(998528, 45)

In [49]:
# Focse on sell and house and delete the offices , presells and rents
dfnc = dfnc[~dfnc["cat2_slug"].str.contains("rent",na=True)]
dfnc = dfnc[~dfnc["cat3_slug"].str.contains("rent","office",na=True)]
dfnc = dfnc[~dfnc["cat3_slug"].str.contains("presell",na=True)]
dfnc.shape

(600150, 45)

In [50]:
# Reset indexes
dfnc.reset_index(inplace=True , drop=True)
dfnc

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,user_type,description,title,rent_mode,rent_value,price_mode,...,has_cooling_system,has_restroom,has_barbecue,building_direction,has_pool,has_jacuzzi,has_sauna,floor_material,location_latitude,location_longitude
0,residential-sell,apartment-sell,tehran,gholhak,مشاور املاک,دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...,۶۰ متر قلهک فول امکانات,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,residential-sell,apartment-sell,mashhad,emamreza,مشاور املاک,هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...,۱۱۵ متری/شمالی رو به آفتاب/اکبری,NaN,NaN,مقطوع,...,air_conditioner,squat_seat,NaN,north,NaN,NaN,NaN,ceramic,NaN,NaN
2,residential-sell,apartment-sell,tehran,dardasht,مشاور املاک,♡♡♡♡♡♡بنام خدا♡♡♡♡♡♡\n♡♡♡عرض ادب واحترام♡♡♡\n♡...,اپارتمان ۱۰۰متری طبقه۳و۴ فول دردشت شمالی,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.729832,51.505466
3,residential-sell,apartment-sell,mahdasht-city,NaN,مشاور املاک,با سلام\n\nاملاک بزرگ اتحاد با ۲شعبه فعال با ف...,۷۸متری دوبحرنورگیر بازسازی شده شیک سندتک برگ,NaN,NaN,مقطوع,...,water_cooler,squat,NaN,north,NaN,NaN,NaN,ceramic,35.712364,50.794781
4,residential-sell,apartment-sell,mashhad,faramarzabbasi,NaN,اول رسالت فرد نزدیک به حاشیه فرامرز .. ساکنین...,متراژ ۸۰ متر فرامرز نزدیک حاشیه,NaN,NaN,مقطوع,...,NaN,squat,NaN,NaN,NaN,NaN,NaN,ceramic,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600145,residential-sell,apartment-sell,urmia,NaN,مشاور املاک,➖➖➖➖➖⚜️ املاک مهندس ⚜️➖➖➖➖➖\n\nواحد آپارتمان ...,آپارتمان تک واحدی / آبشناسان/ وام تا سقف ۱.۱۰۰,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.505325,45.050369
600146,residential-sell,apartment-sell,tehran,shaharak-e-moslemin,NaN,بنام ایزد منان\n ۹۱ متر ۲ خواب خوش نقشه \nنورگ...,آپارتمان ۹۱متر ۲ خواب/شهرک صاحب الزمان,NaN,NaN,مقطوع,...,water_cooler,squat,NaN,north,NaN,NaN,NaN,wood_parquet,35.652096,51.323963
600147,residential-sell,apartment-sell,eslamshahr,NaN,NaN,متریال استفاده شده در نما بهترین نوع با جزئیات...,اپارتمان ۱۰۵ متری خ مطهری,NaN,NaN,مقطوع,...,air_conditioner,squat_seat,NaN,south,NaN,NaN,NaN,ceramic,NaN,NaN
600148,residential-sell,apartment-sell,kermanshah,NaN,مشاور املاک,~~~مشاورین املاک قبادی~~~\n■جنوبی تک واحدی\n■د...,آپارتمان ۱۸۰ متری وحدت غربی,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241
600149,residential-sell,house-villa-sell,yazd,NaN,NaN,سلام ودرود\nفروش منزل مسکونی واقع در خیابان ان...,منزل فروشی. خیابان انقلاب نرسیده به کارخانه...,NaN,NaN,مقطوع,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Save new csv file
dfnc.to_csv("divar_without_above80nan_cols.csv")